body {
	width: 100%;
	height: auto;
	padding:0;
}


.sport h2{
	font-weight: bolder;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 30px;
	font-family: Arial;


}
.sport img{
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	height: 220px;
	width: 220px;


}
.sport-para p{
	font-family:  cursive;
	font-size: 15px;
	margin-left: 30px;
	width: 80%;
	font-weight: normal;
}
.max0{

	float: left;
	font-family: cursive;
	color: red;
	padding: 0px;
	margin-left: 50px;
	margin-top: 0;
	max-width: 150px;
	position: fixed;
}
.number1{
	width: 300px;
	font-family: cursive;
	height: 230px;
	background-color: #f99a9a;
	border-radius: 12px;
	opacity: 1.0;
	margin: auto;
	color: #fff7aa;
	position: relative;
}
.max1{
width: 140px;
float: left;
margin-left: 10px;
margin-top: 15px
}
.max2{
	width: 150px;
	float: left;
	margin-left: auto;
	margin-top: 15px;
}

.max4{
	width: 150px;
    float: left;
    margin-left:10px;
    margin-top: auto;
}
.max4 input {
	border:2px solid black;
	width: 130px;
	height: 25px;
	border-radius: 5px;
	overflow: hidden;
	background: #fafafa;
	border-color: #eab7b4;
	padding: 0 0 0 3px;
}
.max1 input{
width: 110px;
height: 25px;
line-height: 1.65;
display: block;
padding-left: 20px;
border:2px solid #ffa0f2;
border-radius: 5px;
}
.max3{
    margin-top: 33px;
	width: 140px;
	height: 60px;
	float: left;
	
}
.max3 input{
	box-shadow: inset 0 0 4px rgba(0,0,0,0.1) 0 0 16px rgba(0,0,0,0.1);
    border: 2px soid white;
    background: rgba(255,255,255,0.5);
   border-radius: 8px;
    width: 125px;
    height: 25px;
    padding: 0 0 0 10px;
}
.max5 input{
	margin-top: 10px;
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    text-align:center;
    float: left;
    margin-left: 40%;
  }



 .max4 select{
	border:2px solid black;
	width: 130px;
	height: 25px;
	border-radius: 3px;
	overflow: hidden;
	background: #fafafa;
	border-color: #eab7b4;


}
.max4 select{
	padding: 0px 0px 0px 10px;

	border: none;
	box-shadow: none;
	background-image: none;
	-webkit-appearance:none;
}
.max4 select:focus{
	outline: none;
}